*{
    padding: 0;
    margin: 0;
    font-family: cursive;
}
body{
    height: 100vh;
}
header{
    height: 100%;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
}
.text{
    max-width:40%;
    padding: 40px;
    padding-left: 120px;
    margin-top: 100px;
}
h1{
    padding: 10px;
    padding-bottom: 5px;
    color: #482d20;
    font-size: 3rem;
}
h4{
    padding: 10px;
    font-weight: 400;
}
button{
    height: 40px;
    width: 120px;
    background-color: #482d20;
    color: white;
    border: none;
    cursor: pointer;
}

/* Animation */
.tracking-in-expand-fwd-top {
	-webkit-animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd-top
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
            transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
            transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
